Valopilkku_svc/ReceiveSutiMessage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReceiveSutiMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlstring" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveSutiMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReceiveSutiMsgResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveSutiMsgSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveSutiMsg" />
  </wsdl:message>
  <wsdl:message name="ReceiveSutiMsgSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveSutiMsgResponse" />
  </wsdl:message>
  <wsdl:portType name="SutiServiceSoap">
    <wsdl:operation name="ReceiveSutiMsg">
      <wsdl:input message="tns:ReceiveSutiMsgSoapIn" />
      <wsdl:output message="tns:ReceiveSutiMsgSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SutiServiceSoap" type="tns:SutiServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveSutiMsg">
      <soap:operation soapAction="http://tempuri.org/ReceiveSutiMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SutiServiceSoap12" type="tns:SutiServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveSutiMsg">
      <soap12:operation soapAction="http://tempuri.org/ReceiveSutiMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SutiService">
    <wsdl:port name="SutiServiceSoap" binding="tns:SutiServiceSoap">
      <soap:address location="http://www.semel.fi/LinkCom/ReceiveSutiMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="SutiServiceSoap12" binding="tns:SutiServiceSoap12">
      <soap12:address location="http://www.semel.fi/LinkCom/ReceiveSutiMessage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>